{% extends "base.html" %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">List</li>
      <li class="breadcrumb-item"><a href="{% url 'surat:instansi_form' %}">Form</a></li>
    </ol>
  </nav>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Instansi</th>
        <th scope="col">Kategori</th>
        <th scope="col">Telepon</th>
        <th scope="col">Kode Pos</th>
        <th scope="col">Alamat</th>
        <th scope="col">Date</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    {% for dt in object_list %}
      <tbody>
        <tr>
          <td scope="col">{{ forloop.counter }} .</td>
          <td scope="row">{{ dt.nama_instansi }}</td>
          <td>{{dt.kategori}}</td>
          <td>{{dt.telepon}}</td>
          <td>{{dt.kode_pos}}</td>
          <td>{{dt.alamat}}</td>
          <td>{{dt.created|timesince}}</td>
          <td>
            <a class="btn btn-warning btn-sm" href="{% url 'surat:instansi_edit' dt.id %}">Edit</a> | 
            <a class="btn btn-danger btn-sm" onclick="return confirm('Delete data?')" href="{% url 'surat:instansi_delete' dt.id %}">Hapus</a>
          </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}  