{% extends "base.html" %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">List</li>
      <li class="breadcrumb-item"><a href="{% url 'surat:sk_form' %}">New</a></li>
    </ol>
  </nav>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nomor</th>
        <th scope="col">Tanggal surat</th>
        <th scope="col">Perihal</th>
        <th scope="col">Pengirim/Jasa</th>
        <th scope="col">Deksripsi</th>
        <th scope="col">Tujuan instansi</th>
        <th scope="col">Tanggal keluar</th>
        <th scope="col">Tanggal keluar</th>
        <th scope="col">Date</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    {% for dt in object_list %}
      <tbody>
        <tr>
          <td scope="col">{{ forloop.counter }}</td>
          <td scope="row">{{ dt.nomor }}</td>
          <td>{{dt.tgl_surat}}</td>
          <td>{{dt.perihal}}</td>
          <td>{{dt.pengirim}}</td>
          <td>{{dt.deskripsi}}</td>
          <td>{{dt.tujuan_instansi}}</td>
          <td>{{dt.tgl_keluar}}</td>
          <td>{{dt.created|timesince}}</td>
          <td>
            <a class="btn btn-warning btn-sm" href="{% url 'surat:sk_edit' dt.id %}">Edit</a> | 
            <a class="btn btn-danger btn-sm" onclick="return confirm('Delete data?')" href="{% url 'surat:sk_delete' dt.id %}">Hapus</a>
          </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}